@model e_shop.Models.ProductsListView
@if (Model.CurrentCategory == null)
{
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4 class="panel-title text-primary">LED освітлення</h4>
            </div>
            <div class="panel-body">
                <div style="margin-right:10px; text-align:center">
                    <img class="img-thumbnail" width="170" height="170" src="~/Images/Led.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <a href="#" class="btn btn-warning btn-block">Переглянути</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Автоматика</h4>
            </div>
            <div class="panel-body">
                <div style="margin-right:10px; text-align:center">
                    <img class="img-thumbnail" width="170" height="170" src="~/Images/Avtomatyka.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-block">Переглянути</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Кабеленесучі системи</h4>
            </div>
            <div class="panel-body">
                <div style="margin-right:10px; text-align:center">
                    <img class="img-thumbnail" width="170" height="170" src="~/Images/KabelSystem.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-block">Переглянути</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Кабель</h4>
            </div>
            <div class="panel-body">
                <div style="margin-right:10px; text-align:center">
                    <img class="img-thumbnail" width="170" height="170" src="~/Images/Kabel.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-block">Переглянути</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Тепла підлога</h4>
            </div>
            <div class="panel-body">
                <div style="margin-right:10px; text-align:center">
                    <img class="img-thumbnail" width="170" height="170" src="~/Images/Pidloga.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-block">Переглянути</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Терморегулятори</h4>
            </div>
            <div class="panel-body">
                <div style="margin-right:10px; text-align:center">
                    <img class="img-thumbnail" width="170" height="170" src="~/Images/132.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-block">Переглянути</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Щитки, бокси</h4>
            </div>
            <div class="panel-body">
                <div style="margin-right:10px; text-align:center">
                    <img class="img-thumbnail" width="170" height="170" src="~/Images/Boksy.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-block">Переглянути</button>
            </div>
        </div>
    </div>
}
else
{
    <ol class="breadcrumb" style="margin-left:15px; margin-right:15px;">
        <li><a href="#">@Model.CurrentCategory</a></li>
        <li class="active">@Model.CurrentFilter</li>
    </ol>
    @*<h1 class="text-muted">@Model.CurrentFilter</h1>*@
foreach (var p in Model.Products)
{
    <div class="col-sm-12 col-md-6">
        @Html.Partial("ProductSummary", p)
    </div>
}
    <div class="col-sm-12" id="pager">
        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", "Product", new { page = x, category = Model.CurrentCategory, filter = Model.CurrentFilter }))
        </div>
    </div>
}





