@model e_shop.Entities.Product

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Model.Name
            @*<span class="pull-right label label-primary">@Model.Price.ToString("c")</span>*@
            <span class="pull-right badge"> @Model.Price.ToString("c")</span>
            @*<span class="pull-right">Ціна</span>*@
        </h3>


    </div>
    <div class="panel-body">
        @if (Model.ImageData != null)
        {
            <div class="pull-left" style="margin-right:10px">
                <a href="#" class="pop">
                    <img class="img-thumbnail" width="75" height="75" src="@Url.Action("GetImage", "Product", new { Model.ProductID })" />
                </a>
            </div>
        }
        <h4>@Model.Description</h4>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="text-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="В кошик" />
            </div>
        }
    </div>

    





</div>

