@model e_shop.Entities.Product
<style>
    .panel-default > .panel-heading .badge {
        background-color: #c74a00;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Model.Name
            <span class="pull-right badge"> @Model.Price.ToString("c").Replace("₴", " грн")</span>
        </h3>
    </div>
    <div class="panel-body">
        @if (Model.ImageName != null)
        {
            <div class="pull-left" style="margin-right:10px">
                <a href="#" class="pop">
                    <img class="img-thumbnail" width="75" height="75" src="~/Images/Product/@Model.ImageName" />
                </a>
            </div>
        }
        <h5>@Model.Description</h5>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="text-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="В кошик" />
            </div>
        }
    </div>
</div>