@{
    ViewBag.Title = "Про нас | Монтаж теплої підлоги, електропроводки, заміри, розрахунки, тощо | Електро Коник";
}
<style>
    #markers a {
        text-decoration: none;
    }
        #markers a:hover {
            opacity: 0.9;
        }
</style>
<div class="page-header jumbotron">
    <h2 style="text-align:center"><strong>Інтернет-магазин електротоварів <img src="~/Images/Logo1.png" width="300" height="80" /></strong></h2><br />
    <p class="lead" id="markers">
        Реалізовує оптову та роздрібну торгівлю електротоварами у Львові та по всій Україні за вигідними цінами.
        У нас Ви зможете придбати усі необхідні електротовари з доставкою на об'єкт:<br />
        <a href="@Url.Action("Index", "Product", new { category = "Тепла підлога" })"><span class="label label-warning">Теплу підлогу</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Терморегулятори" })"><span class="label label-info">Терморегулятори</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Кабель" })"><span class="label label-success">Кабель</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Щитки, бокси (метал, пластик)" })"><span class="label label-danger">Електричні щитки</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Щитки, бокси (метал, пластик)" })"><span class="label label-primary">Бокси</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Автоматика" })"><span class="label label-default">Реле напруги (відсікач)</span></a>
        <span class="label label-warning">Розетки</span>
        <span class="label label-info">Вимикачі</span>
        <a href="@Url.Action("Index", "Product", new { category = "Автоматика", filter = "Шнейдер Домовий ПЗВ, диф.вимикачі" })"><span class="label label-success">ПЗВ</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Автоматика" })"><span class="label label-danger">Автоматичні вимикачі</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "LED освітлення" })"><span class="label label-primary">LED освітлення</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Автоматика" })"><span class="label label-warning">Автоматика</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Кабеленесучі системи", filter = "Гофротрубка DКС ПВХ легка негорюча світло-сіра" })"><span class="label label-success">Гофра</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Кабеленесучі системи", filter = "Металорукав" })"><span class="label label-info">Металорукав</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Кабеленесучі системи", filter = "Короб пластиковий (кабель канал)" })"><span class="label label-primary">Короб</span></a>
        <a href="@Url.Action("Index", "Product", new { category = "Кабеленесучі системи", filter = "Труба ПВХ гладка" })"><span class="label label-danger">Труба</span></a>
        <span class="label label-success">Діодні стрічки</span>
        <a href="@Url.Action("Index", "Product", new { category = "LED освітлення", page = 3 })"><span class="label label-info">Прожектори</span></a>
    </p>
</div>
<div class="page-header">
    <h4>В інтернет-магазині "Електро Коник" представлено продукцію таких провідних світових та українських брендів як:</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom:10px">
            <img style="width:100%; height:150px" src="~/Images/GrayHot.jpg" alt="test" class="img-thumbnail" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom:10px">
            <img style=" width:100%; height:150px" src="~/Images/LedOriginal.jpg" alt="test" class="img-thumbnail" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom:10px">
            <img style="width:100%; height:150px" src="~/Images/Fenix.png" alt="test" class="img-thumbnail" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom:10px">
            <img style="width:100%; height:150px" src="~/Images/Hemstedt.jpg" alt="test" class="img-thumbnail" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom:10px">
            <img style="width:100%; height:150px" src="~/Images/Mutlusan.jpg" alt="test" class="img-thumbnail" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom:10px">
            <img style="width:100%; height:150px" src="~/Images/VipKabel.jpg" alt="test" class="img-thumbnail" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom:10px">
            <img style="width:100%; height:150px" src="~/Images/Schneider.jpg" alt="test" class="img-thumbnail" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom:10px">
            <img style="width:100%; height:150px" src="~/Images/Horoz.jpg" alt="test" class="img-thumbnail" />
        </div>
    </div>
</div>
<div class="page-header">
    <h2>Також ми надаємо наступні послуги:</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img style="width:100%; height:220px" src="~/Images/Montag_tp.jpg" alt="test" class="img-rounded" />
                <div class="caption">
                    <h3>Монтаж теплої підлоги</h3>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="margin-right:5px"></span> Допомога у виборі оптимальної теплої підлоги, яка задовільнить усі Ваші потреби.<br />
                        <span class="glyphicon glyphicon-ok" style="margin-right:5px"></span> Профeсійний монтаж теплої підлоги (кабель, мат, плівка), встановлення терморегуляторів.<br />
                        <span class="glyphicon glyphicon-ok" style="margin-right:5px"></span> Косультації з питань, що виникають в період експлуатації.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img style="width:100%; height:220px" src="~/Images/Montag_el.jpg" alt="test" class="img-rounded" />
                <div class="caption">
                    <h3>Монтаж електропроводки</h3>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="margin-right:5px"></span> Профeсійне розведення електричної мережі, ТВ та Інтернет.<br />
                        <span class="glyphicon glyphicon-ok" style="margin-right:5px"></span> Встановлення стабілізаторів напруги, заміна автоматів.<br />
                        <span class="glyphicon glyphicon-ok" style="margin-right:5px"></span> Монтаж щитів (збирання електричного щита), розеток, вимикачів, LED стрічок.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img style="width:100%; height:220px" src="~/Images/Rozrachunok.jpg" alt="test" class="img-rounded" />
                <div class="caption">
                    <h3>Розрахунок та консультація</h3>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="margin-right:5px"></span> Виклик фахівця для замірів. <br />
                        <span class="glyphicon glyphicon-ok" style="margin-right:5px"></span> Оптимальні розрахунки для Вашого об'єкту (підбір необхідних матеріалів, визначення необхідної потужності системи).<br />
                        <span class="glyphicon glyphicon-ok" style="margin-right:5px"></span> Косультації з питань, що виникають в період експлуатації системи.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>