<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }

        #div_footer a {
            color: #9d9d9d;
        }
            #div_footer a:hover {
                color: white;
                text-decoration: none;
            }
        body {
            padding-top: 70px;
        }
        .modal-open[style="padding-right: 17px;"] .navbar-fixed-top,
        .modal-open[style="padding-right: 17px;"] .navbar-fixed-bottom {
            padding-right: 17px;
            overflow-y: no-display;
        }
    </style>
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Фіксована навігаційна панель -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white" href="@Url.Action("Index","Home")">Електро <span class="fa fa-bolt"></span> Коник</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@ViewBag.IsActiveHome">@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li class="dropdown @ViewBag.IsActiveProduct">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Продукція <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @{
                                e_shop.Concrete.EFProductRepository _contex = new e_shop.Concrete.EFProductRepository();
                                var category = e_shop.Code.Helper.Category();
                            }
                            <li>@Html.ActionLink("Усі товари", "List", "Product")</li>
                            @foreach (var m in category)
                            {
                                <li>@Html.ActionLink(m, "List", "Product", new { category = m, page = 1 }, null)</li>
                            }
                        </ul>
                    </li>
                    <li class="@ViewBag.IsActiveAbout">@Html.ActionLink("Про нас", "About", "About")</li>
                    <li class="@ViewBag.IsActiveDelivery"> @Html.ActionLink("Доставка та оплата", "Delivery", "Delivery")</li>
                    <li class="@ViewBag.IsActiveContact">@Html.ActionLink("Контакти", "Contact", "Contact")</li>
                </ul>
                @Html.Action("Summary", "Cart")
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div id="div_footer">
                <div class="col-md-8 col-md-offset-2" style="border-bottom: 1px solid #eee;">
                    <p class="text-muted text-center">Інтернет-магазин <a href="@Url.Action("Index","Home")"><strong style="color:white;">Електро <span class="fa fa-bolt"></span> Коник</strong></a> © 2018</p>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <p class="text-muted text-center">
                        <a href="@Url.Action("Index","Home")" style="padding: 20px;">Головна</a> |
                        <a href="@Url.Action("List","Product")" style="padding: 20px;">Каталог</a> |
                        <a href="@Url.Action("About","About")" style="padding: 20px;">Про нас</a> |
                        <a href="@Url.Action("Delivery", "Delivery")" style="padding: 20px;">Доставка та оплата</a> |
                        <a href="@Url.Action("Contact","Contact")" style="padding: 20px;">Контакти</a>
                    </p>
                </div>
                <div class="col-md-8 col-md-offset-2" style="padding-right:0;">
                    <h5 class="text-muted text-center" style="margin:0px; margin-bottom: 8px;">Розробка: <a href="http://www.linkedin.com/in/yuriy-muzyka"><span class="fa fa-linkedin" style="color: white; margin-left: 2px; margin-right: 2px; font-size: 20px;"></span> <span>Музика Юрій</span></a></h5>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
@Scripts.Render("~/bundles/clientfeaturesscripts")
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113314059-1"></script>
<script src="~/Scripts/google.js"></script>
@RenderSection("Scripts", false)
