<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    @*<link href="~/Content/sticky-footer.css" rel="stylesheet" />*@
    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }

        body {
            padding-top: 70px;
        }

        .container {
            /*width: 850px;*/
        }

        .modal-open[style="padding-right: 17px;"] .navbar-fixed-top,
        .modal-open[style="padding-right: 17px;"] .navbar-fixed-bottom {
            padding-right: 17px;
            overflow-y: no-display;
        }
    </style>
</head>
<body>
    <!-- Фіксована навігаційна панель -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ЕЛЕКТРОКОНИК", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@ViewBag.IsActiveHome">@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li class="dropdown @ViewBag.IsActiveProduct">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Каталог <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @*@Html.ActionLink("Усі товари", "List", "Product", new { category = "Усі_Товари" }, new { @class = "list-group-item" + ("Усі_Товари" == ViewBag.SelectedCategory ? " active" : "") })*@
                            <li>@Html.ActionLink("Усі товари", "List", "Product")</li>
                            <li>@Html.ActionLink("Кабель", "List", "Product", new { category = "Кабель", page = 1 }, null)</li>
                            <li>@Html.ActionLink("Тепла підлога", "List", "Product", new { category = "Тепла підлога", page = 1 }, null)</li>
                        </ul>
                    </li>
                    <li class="@ViewBag.IsActiveAbout">@Html.ActionLink("Про нас", "About", "About")</li>
                    <li class="@ViewBag.IsActiveContact">@Html.ActionLink("Контакти", "Contact", "Contact")</li>
                </ul>
                @Html.Action("Summary", "Cart")
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>


    @*<footer class="footer">
            <div class="container">
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
        </footer>*@

    <!-- JavaScript-ядро Bootstrap
    ================================================== -->
    <!-- Розміщуйте підключення JavaScript в кінці документа щоб сторінки завантажувались швидше -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
<script>
    $(function () {
        $('.pop').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
    });
</script>