@model e_shop.Entities.ShippingDetails
@{
    ViewBag.Title = "Оформлення замовлення | Електро Коник";
}
<div class="container col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Оформлення замовлення</h4>
        </div>
        @using (Html.BeginForm())
        {
            <div class="panel-body">
                @if (TempData["valid"] != null)
                {
                    <div id="valid" class="alert alert-danger">@TempData["message"]</div>
                }
                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div class="alert alert-danger alert-error">
                        <a class="close" data-dismiss="alert">&times;</a>
                        @Html.ValidationSummary()
                    </div>
                }
                <div class="form-group">
                    <label>Ваше Прізвище Ім'я По батькові:</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Ваше Прізвище Ім'я По батькові" })
                </div>

                <div class="form-group">
                    <label>Ваш контактний телефон:</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Ваш контактний телефон" })
                </div>

                <div class="form-group">
                    <label>Місто:</label>
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder = "Місто" })
                </div>

                <div class="form-group">
                    <label>Адреса доставки:</label>
                    @Html.TextAreaFor(x => x.Address, new { @class = "form-control", rows = 2, placeholder = "Адреса доставки" })
                </div>

            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <a href="@Url.Action("Index")" class="btn btn-warning"><span class="glyphicon glyphicon-chevron-left"></span> Назад</a>
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span> Оформити замовлення
                    </button>
                </div>
            </div>
        }
    </div>
</div>