@model e_shop.Models.CartIndexViewModel

@{
    ViewBag.Title = "Кошик | Електро Коник";
}

<h2>Ваш кошик <span class="glyphicon glyphicon-shopping-cart"></span></h2>

<table id="cartTable" class="table  table-striped ">
    <thead>
        <tr>
            <th class="text-center">Кількість</th>
            <th>Товар</th>
            <th class="text-right">Ціна</th>
            <th class="text-right">Разом</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                @using (Html.BeginForm("Index", "Cart", FormMethod.Post, new { id = "CartLineForm" + @line.Product.ProductID }))
                {
                    @Html.Hidden("ProductId", line.Product.ProductID)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <td class="text-center"> <input type="number" name="quantity" value="@line.Quantity" min="1" class="form-control center-block" style="width:60px;" onchange="recalc(@line.Product.ProductID)"></td>
                    <td class="text-left" style="vertical-align: middle;">@line.Product.Name</td>
                    <td class="text-right" style="vertical-align: middle;">@line.Product.Price.ToString("c")</td>
                    <td class="text-right" style="vertical-align: middle;">@((line.Quantity * line.Product.Price).ToString("c"))</td>
                }
                <td class="text-center" style="vertical-align: middle;">
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Product.ProductID)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <button class="btn btn-sm btn-warning hidden-xs" type="submit">
                            <span class="glyphicon glyphicon-trash"></span> Видалити
                        </button>
                        <button class="btn btn-sm btn-warning visible-xs" type="submit">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Разом:</td>
            <td class="text-right"><strong>@Model.Cart.ComputeTotalValue().ToString("c")</strong></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<div class="text-right col-md-12 hidden-xs">
    <a class="btn btn-primary" href="@Model.ReturnUrl"><span class="glyphicon glyphicon-share-alt"></span> Продовжити покупки</a>
    @if (Model.Cart.Lines.Count() > 0)
    {
        <a class="btn btn-success" href="@Url.Action("Checkout")"><span class="glyphicon glyphicon-credit-card"></span> Оформити замовлення</a>
    }
    else
    {
        <a class="btn btn-success disabled" href="#"><span class="glyphicon glyphicon-credit-card"></span> Оформити замовлення</a>
    }
</div>

<div class="col-md-12 visible-xs">
    <a class="btn btn-primary btn-block" href="@Model.ReturnUrl"><span class="glyphicon glyphicon-share-alt"></span> Продовжити покупки</a>
    @if (Model.Cart.Lines.Count() > 0)
    {
        <a class="btn btn-success btn-block" href="@Url.Action("Checkout")"><span class="glyphicon glyphicon-credit-card"></span> Оформити замовлення</a>
    }
    else
    {
        <a class="btn btn-success btn-block disabled" href="#"><span class="glyphicon glyphicon-credit-card"></span> Оформити замовлення</a>
    }
</div>