@model e_shop.Entities.Product

@{
    //ViewBag.Title = "Адміністратор: Редагування " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container" style="padding-top:20px">
    <div class="panel panel-default">
        <div class="panel-heading">
            @switch (Request.Url.Segments[2])
            {
                case "Create": <h4>Новий товар</h4>
                    break;
                default: <h4>Редагування @Model.Name</h4>
                    break;
            }
        </div>
        @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="panel-body">
                @Html.HiddenFor(m => m.ProductID)
                @Html.HiddenFor(m => m.ImageData)
                @Html.HiddenFor(m => m.ImageMimeType)

                <div class="col-md-10">
                    <div class="form-group">
                        <label>Назва бренду</label>
                        @Html.TextBox("Brand", null, new { @class = "form-control" })
                        @Html.ValidationMessage("Brand")
                    </div>
                    <div class="form-group">
                        <label>Назва товару</label>
                        @Html.TextBox("Name", null, new { @class = "form-control" })
                        @Html.ValidationMessage("Name")
                    </div>
                    <div class="form-group">
                        <label>Короткий опис товару</label>
                        @Html.TextArea("Description", null, new { @class = "form-control", rows = 2 })
                        @Html.ValidationMessage("Description")
                    </div>
                    <div class="form-group">
                        <label>Детальний опис товару</label>
                        @Html.TextArea("DescriptionDetails", null, new { @class = "form-control", rows = 6 })
                        @Html.ValidationMessage("DescriptionDetails")
                    </div>
                    <div class="form-group">
                        <label>Ціна</label>
                        @Html.TextBox("Price", null, new { @class = "form-control" })
                        @Html.ValidationMessage("Price")
                    </div>
                    <div class="form-group">
                        <label>Категорія</label>
                        @Html.DropDownList("Category", new SelectList(e_shop.Code.Helper.Category()), "[Вибрати]", new { @class = "form-control" })
                        @Html.ValidationMessage("Category")
                    </div>
                    <div class="form-group">
                        <label>Зображення</label>
                        @Html.DropDownList("ImageName", new SelectList(e_shop.Code.Helper.GetImages()), "[Вибрати]", new { @class = "form-control", placeholder = "[Вибрати]", id = "ImageName" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Вибране зображення</label>
                        @if (Model.ImageName == null)
                        {
                            <div id="imgNotFount" class="form-control-static"><span class="label label-danger">Зображення відсутнє</span></div>
                            <img id="imgLogo" style="display:none" class="img-thumbnail" width="150" height="150" src="~/Images/Product/@Model.ImageName" />

                        }
                        else
                        {
                            <div id="imgNotFount" style="display:none" class="form-control-static"><span class="label label-danger">Зображення відсутнє</span></div>
                            <img id="imgLogo" class="img-thumbnail" width="150" height="150" src="~/Images/Product/@Model.ImageName" />
                        }
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-warning" href="@ViewBag.returnUrl">Скасувати</a>
                <input type="submit" value="Зберегти" class="btn btn-success" />
            </div>
        }
    </div>

</div>

<script>
    // переопределение валидации на стороне клиента
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }

    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }

    $('#ImageName').change(function () {
        var a = $('#ImageName option:selected').text();
        var val = $('#ImageName').val();
        if (val != "") {
            $('#imgLogo').show();
            $('#imgNotFount').hide();
            $('#imgLogo').attr('src', '/Images/Product/' + a);
        }
        else
        {
            $('#imgLogo').hide();
            $('#imgNotFount').show();
        }
    });
</script>
