@*@model IEnumerable<e_shop.Entities.Product>*@
@model e_shop.Models.AdminViewModel

@{
    ViewBag.Title = "Адміністратор: Усі товари";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#">Усі товари</a>
        </li>
        <li role="presentation"><a href="#">Активні замовлення</a></li>
        <li role="presentation"><a href="#">Інше ...</a></li>
    </ul>*@

<div id="categories" class="col-sm-2" style="margin-top:20px">
    @*<a href="#" class="list-group-item active">Замовлення<span class="badge">15</span></a>
        @Html.ActionLink("Замовлення", "List", "Product", null, new { @class = "list-group-item" + ("Замовлення" == ViewBag.SelectedCategory ? " active" : "") })*@
    <a href="@Url.Action("Index", "Admin", new {category = "Замовлення" })" class="list-group-item @("Замовлення" == ViewBag.SelectedCategory ? " active" : "")">Замовлення<span class="badge">@Model.Orders.Count()</span></a>
    @*@Html.RouteLink("Замовлення", new { controller = "Admin", action = "Index", category = "Замовлення" }, new { @class = "list-group-item" + ("Замовлення" == ViewBag.SelectedCategory ? " active" : "") })*@
    @Html.ActionLink("Усі товари", "Index", "Admin", new { category = "Усі товари" }, new { @class = "list-group-item" + ("Усі товари" == ViewBag.SelectedCategory ? " active" : "") })
</div>

<div class="col-xs-12 col-sm-10" style="margin-top:20px">
    @switch (Model.CurrentCategory)
    {
        case "Усі товари": @Html.Partial("Products", Model.Products)
            break;
        default:
            {
                @Html.Partial("Orders", Model.Orders)
            }
            break;
    }

</div>
