@model IEnumerable<e_shop.Entities.Order>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Усі замовлення</h4></div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>
                    <input class="form-control" type="number" placeholder="Замовлення № ..." />
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="Телефон ..." />
                </td>
                <td>
                    <input class="form-control" type="date" />
                </td>
                <td>
                    <input class="form-control" type="date" />
                </td>
                <td class="text-right">
                    <a href="#" class="btn btn-info" style="width:100%">
                        <span class="glyphicon glyphicon-filter"></span>
                        Пошук
                    </a>
                </td>
            </tr>
        </table>

        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-right">ID</th>
                    <th class="text-center">Дата створення</th>
                    <th class="text-left">Клієнт</th>
                    <th class="text-center">Телефон</th>
                    <th class="text-center">Сума</th>
                    <th class="text-center">Статус</th>
                    <th class="text-center">Операція</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                string class_status = "";
                switch (item.Status)
                {
                    //"Нове замовлення", "В роботі", "Виконано", "Відмовлено"
                    case "Нове замовлення":
                        class_status = "label-primary";
                        break;
                    case "В роботі":
                        class_status = "label-warning";
                        break;
                    case "Виконано":
                        class_status = "label-success";
                        break;
                    case "Відмовлено":
                        class_status = "label-danger";
                        break;
                    default:
                        break;
                }
                    <tr>
                        <td class="text-right">@item.OrderID</td>
                        <td class="text-center">@item.DateCreateOrder</td>
                        <td class="text-left">@item.UserName</td>
                        <td class="text-center">@item.UserPhone</td>
                        <td class="text-center">@item.Suma</td>
                        <td class="text-center text-primary"><span class="label @class_status">@item.Status</span></td>
                        <td class="text-center">
                            @Html.RouteLink("Переглянути", new { controller = "Admin", action = "Order", orderId = item.OrderID }, new { @class = "btn btn-default btn-xs" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
