@model e_shop.Entities.Order

<ol class="breadcrumb">
    <li><a href="#">Адміністратор</a></li>
    <li><a href="#">Замовлення</a></li>
    <li class="active"><a href="#">30</a></li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Замовлення №: <strong>@Model.OrderID</strong> від <strong>@Model.DateCreateOrder.ToString()</strong></h4></div>
    @using (Html.BeginForm("Order", "Admin"))
    {
        @Html.HiddenFor(m => m.OrderID)
        @*@Html.HiddenFor(m => m.Status)*@
        <div class="panel-body">
            <h3>Клієнт: <span class="label label-primary">@Model.UserName</span></h3>
            <h3>Телефон: <span class="label label-success">@Model.UserPhone</span></h3>
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-right">ID</th>
                        <th>Назва</th>
                        <th class="text-center">Кількість</th>
                        <th class="text-right">Ціна</th>
                        <th class="text-right">Разом</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.OrderLines)
                {
                        <tr>
                            <td class="text-right">@item.OrderLineID</td>
                            <td>@item.Name</td>
                            <td class="text-center">@item.Quantity</td>
                            <td class="text-right">@item.Price.ToString("c")</td>
                            <td class="text-right">@item.ComputeTotalValue.ToString("c")</td>
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right"><b>Разом:</b></td>
                        <td class="text-right"><b>@Model.Suma.ToString("c")</b></td>
                    </tr>
                </tfoot>
            </table>
            <label>Статус замовлення</label>
            @Html.DropDownList("Status", new SelectList(e_shop.Code.Helper.StatusOrder()), new { @class = "form-control" })
        </div>
        <div class="panel-footer text-right">
            @Html.ActionLink("Скасувати", "Index", null, new { @class = "btn btn-warning" })
            <input type="submit" value="Зберегти" class="btn btn-success right" />
        </div>
    }
</div>
