@model IEnumerable<e_shop.Entities.Product>
<style>

</style>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Усі товари</h4></div>
    <div class="panel-body">
        <form role="search">
            <div class="form-group">
                <input class="form-control" id="ProductShearch" type="text" placeholder="Пошук відбувається по будь якому параметру ..." />
            </div> 
        </form>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-right">ID</th>
                    <th class="col-md-2">Назва</th>
                    <th>Опис</th>
                    <th class="text-right">Ціна</th>
                    <th class="text-center col-md-2">Категорія</th>
                    <th class="text-center">Операція</th>
                </tr>
            </thead>
            <tbody id="tbProducts">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-right">@item.ProductID</td>
                        <td>@Html.RouteLink(item.Name, "edit", new { controller = "Admin", action = "Edit", productId = item.ProductID, returnUrl = Request.Url.PathAndQuery })</td>
                        <td>@item.Description</td>
                        <td class="text-right">@item.Price.ToString("c")</td>
                        <td class="text-center">@item.Category</td>
                        <td class="text-center">
                            @using (Html.BeginForm("Delete", "Admin"))
                            {
                                @Html.Hidden("ProductID", item.ProductID)
                                <input type="submit" class="btn btn-danger btn-xs" value="Видалити" />
                            }
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>

            </tfoot>
        </table>
    </div>
    <div class="panel-footer text-right">
        <a href="@Url.Action("Create", new {returnUrl = Request.Url.PathAndQuery})" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Додати новий товар
        </a>
    </div>
</div>